In [1]:
import os 
import pandas as pd

In [2]:
demo_df = pd.read_csv('data/user_demographics.csv')
demo_df.head()

,gender,age,working_hours,age_group,pid
0,female,44.0,Flexible Schedule,Between 40 and 60,alqt150211047
1,female,29.0,Regular Work Hours Between 8AM-5PM,Under 40,alqt150211119
2,male,19.0,Regular Work Hours Between 8AM-5PM,Under 40,alqt150211143
3,male,21.0,Regular Work Hours Between 8AM-5PM,Under 40,alqt150211144
4,male,60.0,Regular Work Hours Between 8AM-5PM,Between 40 and 60,alqt150211157

In [3]:
demo_df['gender'].value_counts()

gender
female     13327
male        7636
unknown       20
other         12
Name: count, dtype: int64

In [4]:
demo_df['age'].describe()

count    20995.000000
mean        44.442248
std         12.298928
min         18.000000
25%         35.000000
50%         44.000000
75%         53.000000
max         88.000000
Name: age, dtype: float64

In [5]:
demo_df['working_hours'].value_counts()

working_hours
Regular Work Hours Between 8AM-5PM    8134
Flexible Schedule                     6440
Long Work Hours                       2799
Unknown                               2081
Rotating Shift                         671
Morning Shift                          455
Evening Shift                          226
Night Shift                            189
Name: count, dtype: int64